<html>
    <title>COVID19 XRAY</title>
    <body>
        <center>
                <br/>
                <h3>COVID-19 IMAGE CLASSIFICATION</h3>

            <br/>

                <h4>Please Select XRAY Image For CODVID Results</h4>
                <form action="upload-image" method="post" enctype="multipart/form-data">
                    <input type='file' name='image'/>
                    <input type='submit' value='Upload XRAY Image'/>
                </form>


        </center>
    </body>
</html>