<html>
    <title>Register</title>
    <body>
        <center>
                <br/>
                <h3>Welcome to LMS</h3>
                <h4>Please Register with Details Below:</h4>
                <form action="registeruser" method="post">
                    Name: <input type='text' name='txtName' placeholder='Enter Your Name'/>
                    <br/>
                    Email: <input type='text' name='txtEmail' placeholder='Enter Your Email'/>
                    <br/>
                    Password: <input type='password' name='txtPassword' placeholder='Enter Your Password'/>
                    <br/>
                    <input type='submit' value='Register'/>
                </form>
        </center>
    </body>
</html>