<html>
    <body>
        <center>
                <br/>
                <h3>Welcome to LMS</h3>
                <h4>Dear Student, Please Login Below:</h4>
                <form>
                    EMAIL: <input type='text' placeholder='Enter Your Email'/>
                    <br/>
                    PASSWORD: <input type='password' placeholder='Enter Your Password'/>
                    <br/>
                    <input type='submit' value='Login'/>
                    <br/>
                </form>
        </center>
    </body>
</html>